h1{
    text-align: center;
    color: burlywood;
}

div{
    padding: 10px;
    border: 15px solid #457b47;
    margin: 20px;
    background-color: orangered;
    width: 300px;
    outline: 10px solid #03edf5;
}
